<!DOCTYPE html>
<html lang="tr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Supply Chain Management</title>
    <style>
        .supplyimg {
            width: 30rem;
            height: 30rem;
        }

        html {
            background-color: #FFFAF3 !important;
        }

        .container {
            display: flex;
            flex-direction: column; 
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

            .container h3, .container h4 {
                font-family: Arial, sans-serif;
                text-align: center;
            }
        .buttonum{
            background-color: #F1E6D6;
            color:black;
        }
    </style>
</head>

<body>
    <div class="container body">
        <div class="main_container">
            <div class="right_col" role="main">
                <div class="container">
                    <img src="~/images/scm.gif" class="supplyimg" />
                    <h3>Supply Chain Management'a Hoş Geldiniz</h3>
                    <h4 class="">İşlem yapmak için giriş yapmalısınız.</h4>
                    <button type="submit" class="buttonum" value="Giriş Yap"><a href="/account/signin"><img src="/images/loginbutton.png" height="124" width="375" /></a></button>


                </div>
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/SCM/vendors/jquery/dist/jquery.min.js"></script>
    <script src="~/SCM/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/SCM/vendors/fastclick/lib/fastclick.js"></script>
    <script src="~/SCM/vendors/nprogress/nprogress.js"></script>
    <script src="~/SCM/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/SCM/build/js/custom.min.js"></script>
</body>
</html>
