@model SCM.UI.Models.RequestModels.Approves.ApproveVM

@{
    ViewData["Title"] = "AdminApprove";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>AdminApprove</h1>

<h4>ApproveVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AdminApprove">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RequestId" class="control-label"></label>
                <input asp-for="RequestId" name="RequestId" class="form-control" />
                <span asp-validation-for="RequestId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsApproved" name="IsApproved" /> @Html.DisplayNameFor(model => model.IsApproved)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


